configuration {
	modi: [window,drun,run];
	font: "Fantasque Sans Mono 14";
	show-icons: true;
	icon-theme: "Papirus";
	case-sensitive: false;
	hide-scrollbar: true;
}

@theme "./themes/breeze-dracula.rasi"
